<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621363690446-1q9qjmmkqfei9eqnt510mpmha09u5pdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621363690446-1q9qjmmkqfei9eqnt510mpmha09u5pdb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>621363690446-96m19r7oorj8u0g3ki5djg530hsh3957.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtyj_eAMG883TG38s-oHoTTZXHE6YA9oI</string>
	<key>GCM_SENDER_ID</key>
	<string>621363690446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maiddb</string>
	<key>PROJECT_ID</key>
	<string>maiddb</string>
	<key>STORAGE_BUCKET</key>
	<string>maiddb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621363690446:ios:667548b3b212f353cec99f</string>
	<key>DATABASE_URL</key>
	<string>https://maiddb.firebaseio.com</string>
</dict>
</plist>